# --- Archivos generados y compilados ---
*.class
*.log
hs_err_pid*
replay_pid*
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/

# --- Paquetes y binarios ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# --- Herramientas y entornos ---
### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# --- Archivos de BlueJ (si alguien lo usa) ---
*.ctxt

# --- Mobile Tools for Java (J2ME) ---
.mtj.tmp/

# --- Maven Wrapper ---
!.mvn/wrapper/maven-wrapper.jar

